---
title: Privacy Policy
component: ContentPage
---
mixin breadcrumb
 ol
   li <a href="/">Home</a>
   li <a href="/privacy">Privacy</a>

p.
  Hextras is protected under some .... "copyright laws" .... ;)
